*::-webkit-input-placeholder {
	color: #BDBDBD;
	opacity: 1;
}
*:-moz-placeholder {
	color: #BDBDBD;
	opacity: 1;
}
*::-moz-placeholder {
	color: #BDBDBD;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #BDBDBD;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid { 
	 
}
body {
	font-family: 'Montserrat';
	line-height: 26px;
	font-size: 16px; 
	color: #333;
	overflow-x: hidden;
	margin: 0; 
	background-color: #fff;
} 
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0; 
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
a, button, input, img {
	transition: all 0.3s;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
.header {
	position: relative;
	z-index: 100;
}
.header-top {
	padding-top: 26px;
	padding-bottom: 13px;
	border-bottom: 1px solid #C4C4C4;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	display: inline-block;
}
.logo img {
	max-width: 100%;
	height: auto;
}
.btn-search {
	display: flex;
	height: 44px;
	width: 51px;
	align-items: center;
	flex: none;
	justify-content: center;
	border: none;
	background-color: #333333;
	border: 1px solid #333;
	border-radius: 0px 4px 4px 0px;
	transition: all 0.3s;
}
.btn-search:hover {
	background-color: #fff;
}
.btn-search circle,
.btn-search path {
	transition: all 0.3s;
}
.btn-search:hover circle,
.btn-search:hover path {
	stroke: #333;
}
.search-main__wrap {
	display: flex;
	align-items: center;
}
.search-main input {
	padding: 0 16px;
	font-size: 16px;
	line-height: 26px;
	font-family: 'Montserrat';
	height: 44px;
	width: 100%;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #C4C4C4;
}
.search-main {
	width: 420px;
	max-width: 100%;
}
.contact-main {
	font-size: 15px;
	line-height: 23px;
	color: #333;
}
.header-top__right {
	display: flex;
	align-items: center;
}
.header-top__right .contact-main {
	margin-left: 30px;
}
.header-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu {
	display: flex;
	align-items: center;
}
.menu > li {
	padding: 22px 0;
	margin-right: 32px;
	position: relative;
}
.menu a {
	font-size: 15px;
	line-height: 23px;
	color: #333333;
	transition: all 0.3s;
	border-bottom: 1px solid transparent;
}
.menu > li > a:hover,
.menu > li:hover > a {
	border-color: #333;
}
.menu-dropdown > li:hover .menu-submenu,
.menu > li:hover .menu-dropdown {
	visibility: visible;
	opacity: 1;
}
.menu-dropdown {
	padding: 15px 0;
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: -3px;
	min-width: 200px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.03);
	box-shadow: 0px 15px 35px rgba(14, 22, 53, 0.05);
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.1s;
}
.menu-submenu {
	top: 0;
	padding: 10px 0;
	left: 100%;
	margin-left: -3px;
	position: absolute;
	min-width: 200px;
	background: #F7F7F7;
	border: 1px solid rgba(0, 0, 0, 0.03);
	box-shadow: 0px 15px 25px rgba(14, 22, 53, 0.07);
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.1s;
}
.menu-dropdown > li {
	position: relative;
}
.menu-submenu li a,
.menu-dropdown > li > a {
	padding: 7px 16px;
	padding-right: 22px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
}
.menu-submenu li:hover a,
.menu-dropdown > li:hover > a {
	color: #17158D;
	font-weight: 500;
}
.menu-dropdown > li.menu-dropdown__haschild > a::after {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 300;
	content: "\f054";
	font-size: 10px;
}
.btn-header {
	width: 36px;
	height: 36px;
	padding-bottom: 3px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #333;
	background-color: #333;
	transition: all 0.3s;
	position: relative;
}
.wrap-btn-header:hover .btn-header,
.btn-header:hover {
	background-color: #fff;
}
.btn-header circle,
.btn-header path {
	transition: all 0.3s;
}
.wrap-btn-header:hover .btn-header circle,
.wrap-btn-header:hover .btn-header path,
.btn-header:hover circle,
.btn-header:hover path {
	stroke: #333;
}

.header-buttons {
	display: flex;
	align-items: center;
}
.item-billbord {
	padding-top: 150px;
	min-height: 580px;
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	background-size: cover;
	z-index: 1;
}
.item-billbord::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32));
}
.title-big {
	font-size: 50px;
	line-height: 63px;
	padding-bottom: 24px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}
.descr-title {
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 35px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}
.btn-main {
	font-size: 18px;
	line-height: 27px;
	color: #fff;
	height: 57px;
	padding: 0 40px;
	background-color: #333;
	border-radius: 4px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	font-family: 'Montserrat';
	transition: all 0.3s;
}
.item-billbord .btn-main {
	padding: 0 66px;
	box-shadow: 0 9px 20px #333;
}
.btn-main:hover {
	background-color: #4B4B4B;
}
.item-billbord .btn-main:hover {
	box-shadow: 0 0px 0px #333;
	background-color: #4B4B4B;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 12px;
	height: 12px;
}
.slick-dots li button {
	width: 12px;
	height: 12px;
	padding: 0;
	border: none !important;
	background-color: #c4c4c4;
	transition: all 0.3s;
}
.slick-dots li.slick-active button,
.slick-dots li:hover button {
	background-color: #333;
}
.slider-billbord .slick-dots {
	bottom: 35px;
}
.buttons-main {
	display: flex;
	align-items: center;
	justify-content: center;
}
.partnership {
	padding-top: 24px;
	padding-bottom: 40px;
	text-align: center;
	background-color: #f5f5f5;
}
.title-section {
	font-size: 32px;
	line-height: 40px;
}
.descr-section {
	padding-top: 15px;
	padding-bottom: 28px;
}
.btn-page {
	font-size: 18px;
	line-height: 27px;
	height: 59px;
	padding: 0 20px;
	min-width: 200px;
	color: #333;
	border: 1px solid #333333;
	border-radius: 4px;
	background-color: transparent;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s;
}
.btn-page:hover {
	background-color: #333;
	color: #fff;
}
.buttons-main .btn-page {
	margin: 0 14px;
}
.buttons-main {
	display: flex;
	align-items: center;
	justify-content: center;
}
.categories .title-section {
	padding-bottom: 30px;
}
.section-main {
	padding-top: 120px;
}
.item-category {
	height: 419px;
	margin-bottom: 2px;
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.item-category img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.8s; 
	-o-transition: all 0.8s;
	transition: all 0.8s;
}
.item-category:hover img {
	transform: scale(1.3);
}
.item-category::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28));
}
.item-category__name {
	font-weight: 300;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #FFFFFF;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 2;
}
.item-category_min {
	height: 239px;
}
.row_categories {
	margin: 0 -1px;
}
.row_categories > div {
	padding: 0 1px;
}
.tabs a {
	font-size: 18px;
	line-height: 27px;
	padding: 6px 16px;
	border: 1px solid #333333;
	margin-right: 16px;
	border-radius: 4px;
	color: #333;
	display: inline-block;
	transition: all 0.3s;
}
.tabs .active a,
.tabs a:hover {
	background-color: #333;
	color: #fff;
}
.tabs {
	display: flex;
	align-items: center;
}
.item-catalog {
	padding: 8px 17px;
	padding-bottom: 24px;
	border: 1px solid #F3F3F3;
	border-radius: 4px;
	text-align: center;
	min-height: 100%;
	position: relative;
	transition: all 0.3s;
}
.item-catalog__image {
	height: 340px;
	width: 100%;
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-catalog__image img {
	max-width: 100%;
	max-height: 100%;
	mix-blend-mode: multiply;
	transition: all 0.3s;
}
.item-catalog__name {
	font-size: 17px;
	line-height: 26px;
	margin-bottom: 8px;
	color: #333;
	display: block;
}
.price-old {
	font-size: 18px;
	line-height: 29px;
	color: #C0C0C0;
	transition: all 0.3s;
	text-decoration: line-through;
}
.price-main {
	font-size: 32px;
	line-height: 40px;
	transition: all 0.3s;
}
.tab-container {
	padding-top: 26px;
}
.item-catalog .price-old {
	margin-bottom: 4px;
}
.item-catalog .btn-page {
	bottom: 25px;
	left: 35px;
	right: 35px;
	min-width: initial;
	position: absolute;
	background-color: #fff;
	opacity: 0;
}
.item-catalog .btn-page:hover {
	background-color: #333;
}
.btn-card:hover img {
	filter: invert(0) sepia(0) saturate(0) hue-rotate(0deg) brightness(5);
}
.item-catalog .btn-page:hover img {
	filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
}
.btn-page img {
	margin-left: 5px;
}
.buttons-card {
	position: absolute;
	bottom: 152px;
	left: 20px;
	opacity: 0;
	transition: all 0.3s;
}
.btn-card {
	width: 36px;
	height: 36px;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 1px solid #00416A;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s;
}
.btn-card:hover {
	background-color: #00416A;
}
.item-catalog:hover .buttons-card,
.item-catalog:hover .btn-page {
	opacity: 1;
}
.item-catalog:hover .price-main,
.item-catalog:hover .price-old {
	opacity: 0;
}
.slider-catalog .slick-slide > div > li {
	padding: 0 20px;
	padding-bottom: 40px;
}
.slider-catalog .slick-list {
	margin: 0 -20px;
}
.slick-arrow {
	background: #FBFBFB;
	border: 1px solid #F3F3F3;
	font-size: 20px !important;
	color: #333 !important;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	transition: all 0.3s;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.arrows-main .slick-arrow {
	top: -70px;
	right: 0;
	left: auto;
	transform: none;
}
.arrows-main .slick-prev {
	right: 52px;
}
.slick-arrow.slick-disabled {
	background-color: #fff;
}
.catalog-offer .title-section {
	padding-bottom: 20px;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.item-advantage {
	padding: 0 30px;
	min-height: 100%;
	border-right: 1px solid #DDDDDD;
}
.item-advantage__icon {
	width: 80px;
	height: 80px;
	margin-bottom: 12px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #333333;
}
.row_advantages > div:last-child .item-advantage {
	border: none;
}
.text-more {
	max-height: 182px;
	transition: all 0.3s;
	overflow: hidden;
	position: relative;
}
.text-more p {
	margin-bottom: 20px;
}
.text-more.active {
	max-height: 1000px;
}
.text-more.active::after {
	opacity: 0;
}
.text-more::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 0.3s;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 94.69%);
}
.about .title-section {
	padding-bottom: 28px;
}
.link-page {
	font-size: 18px;
	line-height: 27px;
	border-bottom: 1px dashed #333333;
	display: inline-block;
	color: #333;
}
.link-page:hover {
	border-color: transparent;
}
.image-about img {
	max-width: 100%;
	border-radius: 4px;
}
.block-form {
	padding: 65px 228px;
	padding-bottom: 39px;
	background: #FFFFFF;
	box-shadow: 0px 15px 35px rgba(14, 22, 53, 0.05);
	border-radius: 4px;
}
.item-form input {
	height: 57px;
	font-size: 18px;
	line-height: 27px;
	font-family: "Montserrat";
	border: none;
	border-bottom: 1px solid #C4C4C4;
	background-color: transparent;
	width: 100%;
}
.item-form *::-webkit-input-placeholder {
	color: #C4C4C4;
}
.item-form *:-moz-placeholder {
	color: #C4C4C4;
}
.item-form *::-moz-placeholder {
	color: #C4C4C4;
}
.item-form *:-ms-input-placeholder {
	color: #C4C4C4;
}
.block-form .btn-main {
	width: 100%;
}
.agreement-form {
	padding-top: 28px;
	color: #B1B1B1;
}
.subscribe .title-section {
	padding-bottom: 28px;
}
.item-post {
	position: relative;
	display: block;
	padding-top: 100%;
}
.item-post__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
}
.item-post__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.like-btn {
	width: 48px;
	height: 48px;
	top: 24px;
	left: 24px;
	background: rgba(255, 255, 255, 0.28);
	border: 1px solid rgba(255, 255, 255, 0.12);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	transition: all 0.3s;
	opacity: 0;
}
.item-post:hover .like-btn {
	opacity: 1;
}
.slider-posts .slick-slide > div > li {
	vertical-align: middle;
}
.footer {
	padding-top: 40px;
	margin-top: 120px;
	color: #fff;
	background-color: #333;
}
.footer .logo {
	margin-bottom: 24px;
}
.footer__nav a {
	color: #fff;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.footer__nav a:hover {
	border-color: #fff;
}
.footer__nav {
	font-size: 17px;	
}
.footer__nav li {
	margin-bottom: 12px;
}
.footer__title {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	margin-bottom: 16px;
}
.footer p {
	margin-bottom: 12px;
}
.footer-bottom {
	font-size: 14px;
	line-height: 20px;
	padding: 24px 0;
	margin-top: 40px;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer a {
	color: #fff;
	transition: all 0.3s;
}
.footer-bottom p {
	margin: 0;
}
.footer .descr-logo {
	margin-bottom: 32px;
}
.list-social {
	max-width: 200px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.list-social a {
	width: 36px;
	height: 36px;
	margin-right: 12px;
	margin-top: 16px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrap-btn-header {
	padding: 10px 0;
	margin-left: 12px;
	position: relative;
}
.wrap-btn-header:hover .dropdown-header {
	visibility: visible;
	opacity: 1;
}
.dropdown-header {
	position: absolute;
	top: 100%;
	right: 0;
	font-size: 15px;
	min-width: 200px;
	padding: 10px 0;
	line-height: 23px;
	background: #F7F7F7;
	border: 1px solid rgba(0, 0, 0, 0.03);
	box-shadow: 0px 15px 25px rgba(14, 22, 53, 0.07);
	border-radius: 4px;
	transition: all 0.1s;
	opacity: 0;
	visibility: hidden;
}
.dropdown-header a {
	padding: 7px 16px;
	display: block;
	color: #333;
	transition: all 0.3s;
}
.dropdown-header a:hover {
	color: #EB5757;
}
.posts .title-section {
	padding-bottom: 30px;
}
.footer__title i {
	display: none;
}
/*Style Sandwich*/
.btn_nav {
	display: none;
	border: none;
	z-index: 60;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
} 
.sandwich span {
	display: block;
}
.sandwich {
	width: 36px;
	height:36px;
	padding-top: 7px;
	border-radius: 50%;
	background-color: #333;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 17px;
	height: 1px;
	display: block;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 9px;
	width: 17px;
	height: 1px;
	display: block;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 14px;
	width: 17px;
	height: 1px;
	display: block;
	background-color: #fff;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 10px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 8px;
	transform: rotate(-45deg);
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
	transition: all 0.3s;
}
.header.nav-up {
	transform: translateY(-154px);
}
.header.nav-down {
	box-shadow: 0 0 10px #ccc;
	transform: translateY(0px);
}
.header.nav-down.default {
	box-shadow: none;
}
.wrapper {
	padding-top: 154px;
}
.breadcrumbs {
	font-size: 15px;
	line-height: 23px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: #c4c4c4;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #c4c4c4;
	transition: all 0.3s;
}
.breadcrumbs a:hover {
	color: #333;
}
.breadcrumbs li::after {
	margin: 0 7px;
	position: relative;
	content: "/";
}
.breadcrumbs li:last-child::after {
	display: none;
}
.breadcrumbs li:last-child {
	color: #333;
}
.title-page {
	font-size: 50px;
	line-height: 63px;
	padding-bottom: 20px;
}
.slider-categories__item {
	padding: 16px 24px;
	font-size: 18px;
	line-height: 27px;
	color: #333;
	margin: 0 10px;
	border: 1px solid #F3F3F3;
	border-radius: 4px;
	display: flex;
	align-items: center;
	transition: all 0.3s;
}
.slider-categories__image {
	width: 96px;
	height: 96px;
	margin-right: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.slider-categories__image img {
	max-width: 100%;
	max-height: 100%;
	mix-blend-mode: multiply;
}
.slider-categories__item:hover {
	background-color: #fbfbfb;
}
.slider-categories {
	margin: 0 -10px;
	margin-bottom: 64px;
}
.slider-categories .slick-prev {
	left: -10px;
}
.slider-categories .slick-next {
	right: -10px;
}
.row_catalog .item-catalog__image {
	height: 305px;
}
.row_catalog {
	margin: 0 -10px;
}
.row_catalog > div {
	padding: 0 10px;
	margin-bottom: 20px;
	min-height: 460px;
}
.item-catalog:hover {
	background-color: #FBFBFB;
}
.item-catalog__status {
	font-size: 15px;
	line-height: 23px;
	top: 16px;
	left: 16px;
	padding: 2px 13px;
	position: absolute;
	display: inline-block;
	background: rgba(239, 239, 239, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.1); 	
	backdrop-filter: blur(10px);
	border-radius: 4px;
}
.sorting-select .jqselect {
	display: block !important;
}
.sorting-select .jq-selectbox__select-text {
	font-size: 13px;
	line-height: 19px;
	color: #C4C4C4;
	cursor: pointer;
	white-space: nowrap;
	min-width: 160px;
	padding-top: 27px;
}
.sorting-select {
	position: relative;
}
.title-select {
	font-size: 15px;
	line-height: 23px;
	font-weight: 300;
	position: absolute;
	top: 0;
	left: 0;
}
.title-select i {
	font-size: 12px;
	margin-left: 5px;
}
.catalog-sorting {
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.sorting-select .jq-selectbox__dropdown {
	font-size: 13px;
	line-height: 19px;
	background: #F7F7F7;
	border: 1px solid rgba(0, 0, 0, 0.03);
	box-shadow: 0px 15px 25px rgb(14 22 53 / 7%);
}
.sorting-select .jq-selectbox__dropdown li {
	cursor: pointer;
	padding: 5px 10px;
}
.type-sorting {
	margin-left: 100px;
	display: flex;
	align-items: center;
}
.type-sorting__item {
	width: 32px;
	height: 32px;
	border: 1px solid #707070;
	border-radius: 2px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.type-sorting__item img {
	max-width: 100%;
	max-height: 100%;
}
.title-sidebar {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	margin-top: 45px;
	margin-bottom: 16px;
}
.title-sidebar:first-child {
	margin-top: 0;
}
.sidebar-filter {
	font-size: 15px;
	line-height: 23px;
	max-width: 260px;
}
.item-sorting_all {
	font-weight: 500;
	color: #333;
	cursor: pointer;
}
.category-sorting__title {
	font-weight: 500;
	margin-top: 15px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.3s;
}
.category-sorting__title.active {
	font-size: 17px;
	line-height: 26px;
	font-weight: 600;
}
.item-sorting {
	cursor: pointer;
	display: flex;
	align-items: center;
	color: #333;
}
.category-sorting__content {
	padding-left: 15px;
	display: none;
}
.category-sorting__content li {
	margin-top: 12px;
}
.arrow-sidebar {
	width: 24px;
	height: 24px;
	font-size: 12px;
	padding-top: 1px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	margin-left: auto;
	border: 1px solid transparent;
	backdrop-filter: blur(10px);
}
.active > .arrow-sidebar {
	border-color: rgba(0, 0, 0, 0.01);
	background-color: rgba(239, 239, 239, 0.2);
	transform: rotate(180deg);
}
.category-sorting__content li ul li .item-sorting::before {
	content: "•";
	margin: 0 7px;
}
.category-sorting__content li ul {
	font-size: 14px;
	line-height: 20px;
	display: none;
}
.category-sorting__content .item-sorting.active {
	font-size: 15px;
	line-height: 23px;
	font-weight: 600;
}
.irs--flat .irs-bar,
.irs--flat .irs-line {
	height: 1.5px;
}
.irs--flat .irs-bar {
	background-color: #333;
}
.irs--flat .irs-line {
	background-color: #E0E0E0;
}
.range-catalog {
	margin-bottom: 60px;
}
.irs--flat .irs-handle {
	width: 7px;
	height: 15px;
	top: 19px;
	background: #333333;
	border-radius: 2px;
}
.irs--flat .irs-min, .irs--flat .irs-max,
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before,
.irs--flat .irs-handle i {
	display: none !important;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	font-size: 17px;
	line-height: 26px;
	color: #333;
	padding: 0;
	top: 38px;
	background-color: transparent;
}
.irs--flat .irs-to {
	left: auto !important;
	right: 0 !important;
}
.irs--flat .irs-from {
	left: 0 !important;
	right: auto !important;
}
.checkbox-catalog {
	margin-bottom: 10px;
	text-align: left;
}
.checkbox-catalog label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox-catalog label > span {
	position: relative;
	padding: 1px 32px 0 0;
	min-width: 116px;
	display: inline-block;
	cursor: pointer;
}
.checkbox-catalog label > span:before {
	content: '';
	position: absolute;
	top: 4px;
	right: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #C4C4C4;
	border-radius: 1px;
	transition: .2s;
}
.checkbox-catalog label > span:after {
	content: '';
	position: absolute;
	top: 3px;
	right: -1px;
	width: 16px;
	height: 16px;
	background-image: url(../img/check.svg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: .2s;
}
.checkbox-catalog label input:checked + span:after {
	opacity: 1;
}
.checkbox-catalog_simple label > span:after,
.checkbox-catalog_simple label > span:before {
	display: none;
}
.checkbox-catalog label input:checked + span {
	font-weight: 600;
}
.btn-page_filter {
	display: none;
}
.modal-catalog {
	width: 1140px;
	padding: 40px;	
	max-width: 100%;
	padding-bottom: 0;	
	background-color: #fff;
	border-radius: 4px;
}
.modal-block {
	display: none;
}
/*fancybox*/
.fancybox-skin {
	padding: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;
}
.fancybox-close {
	top: 12px;
	right: 14px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center; 
	font-size: 22px;
	color: #354954;
	background-image: none !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-weight: 300;
	font-family: "Font Awesome 5 Pro";
}
.fancybox-close::before {
	content: "\f00d";
}
.fancybox-inner {
	overflow: visible !important;
}
.slider-card {
	border: 1px solid #F9F9F9;
}
.slider-card__item {
	height: 458px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-card__item img {
	max-width: 100%;
	max-height: 100%;
}
.order-types {
	margin-top: 20px;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
}
.order-types__item {
	font-weight: 500;
	font-size: 15px;
	line-height: 23px;
	margin-right: 16px;
	color: rgba(51, 51, 51, 0.1);
	padding: 4px 8px;
	border: 1px solid rgba(51, 51, 51, 0.1);
}
.order-types .active .order-types__item {
	color: #333;
	border-color: #333;
}
.slider-card .slick-prev {
	left: -20px;
}
.slider-card .slick-next {
	right: -20px;
}
.articul {
	font-size: 15px;
	line-height: 23px;
	margin-bottom: 11px;
}
.prices-card .price-old {
	font-size: 24px;
	line-height: 29px;
	margin-right: 23px;
}
.prices-card .price-main {
	font-size: 36px;
	line-height: 44px;
}
.prices-card {
	display: flex;
	align-items: flex-end;
	margin-bottom: 20px;
}
.buttons-order {
	margin-bottom: 40px;
	display: flex;
	align-items: center;
}
.buttons-order .btn-main {
	flex: 1;
	margin-left: 20px;
}
.title-features {
	font-size: 15px;
	line-height: 23px;
	font-weight: 600;
	margin-bottom: 15px;
}
.line-feature {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 17px;
	display: flex;
	justify-content: space-between;
}
.line-feature span:last-child {
	color: #6B6B6B;
	max-width: 215px;
	text-align: right;
}
.wrap-feaures {
	padding-right: 30px;
	margin-right: -30px;
	max-height: 200px;
	overflow: auto;
}
.wrap-feaures::-webkit-scrollbar {
	-webkit-appearance: none;
}
.wrap-feaures::-webkit-scrollbar:vertical {
	width: 6px;
}
.wrap-feaures::-webkit-scrollbar:horizontal {
	height: 6px;
}
.wrap-feaures::-webkit-scrollbar-thumb {
	background-color: #BDBDBD;
	border-radius: 10px;
}
.wrap-feaures::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #F9F9F9;
}
.slider-for {
	border: 1px solid #F9F9F9;
}
.slider-for__item {
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-nav__item img,
.slider-for__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-for .slick-prev {
	left: 16px;
}
.slider-for .slick-next {
	right: 16px;
}
.slider-nav__item {
	height: 180px;
	margin: 0 10px;
	border: 1px solid #F9F9F9;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.slider-nav {
	margin: 0 -10px;
	margin-top: 20px;
}
.tabs-card {
	display: flex;
	border-bottom: 1px solid #E0E0E0;
}
.tabs-card a {
	font-size: 15px;
	line-height: 23px;
	padding-bottom: 9px;
	display: inline-block;
	transition: all 0.3s;
	color: #333333;
	position: relative;
}
.tabs-card a::after {
	position: relative;
	display: block;
	content: " ";
	width: 100%;
	height: 2px;
	bottom: -9px;
	left: 0;
	background-color: #333;
	opacity: 0;
}
.tabs-card li {
	margin-right: 32px;
}
.tabs-card li:last-child {
	margin-right: 0;
}
.tabs-card .active a {
	font-weight: 600;
}
.tabs-card .active a::after {
	opacity: 1;
}
.tab-pane-card {
	display: none;
}
.tab-pane-card:nth-child(2) {
	display: block;
}
.tab-container-card {
	padding-top: 30px;
}
.card__left {
	padding-left: 40px;
}
.slider-products .slick-slide {
	padding: 0 15px;
	height: inherit !important;
	min-height: 428px;
}
.slider-products {
	margin-top: 40px;
}
.slider-products .slick-list {
	margin: 0 -15px;
}
.slider-products .slick-track {
	display: flex !important;
}
.slider-products .item-catalog__image {
	height: 280px;
}
.item-catalog .btn-page {
	height: 34px;
	left: 62px;
	right: 62px;
	bottom: 18px;
}
.link-simple {
	font-size: 15px;
	line-height: 23px;
	color: #333;
	display: inline-block;
	border-bottom: 1px solid transparent;
}
.link-simple:hover {
	border-color: #333;
}
.clear-basket {
	font-size: 13px;
	line-height: 19px;
	color: #BDBDBD;
	display: inline-flex;
	align-items: center;
}
.clear-basket i {
	margin-left: 8px;
}
.clear-basket:hover {
	color: #333;
}
.head-basket {
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.basket .title-section {
	padding-bottom: 12px;
}
.btn-header__value {
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	background-color: #FF5757;
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	top: -5px;
	right: 0;
	position: absolute;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]
{
	-moz-appearance: textfield;
}
.table-basket table {
	width: 100%;
	border-spacing: 0;
}
.image-basket {
	width: 144px;
	height: 144px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.image-basket img {
	max-width: 100%;
	max-height: 100%;
}
.name-basket {
	font-size: 22px;
	line-height: 33px;
	margin-bottom: 8px;
	display: block;
	color: #333333;
}
.table-basket .articul {
	margin-bottom: 8px;
}
.prices-basket {
	display: flex;
	align-items: center;
}
.prices-basket .price-old {
	font-size: 16px;
	line-height: 26px;
	margin-right: 18px;
}
.prices-basket .price-main {
	font-size: 18px;
	line-height: 27px;
}
.descr-basket {
	font-weight: 300;
	font-size: 13px;
	line-height: 19px;
	margin-bottom: 4px;
	color: #BDBDBD;
}
.quantity {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.quantity input {
	width: 34px;
	height: 24px;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #333333;
	border: none;
	text-align: center;
	background-color: transparent;
}
.quantity-button {
	width: 24px;
	height: 24px;
	font-size: 18px;
	border: 1px solid #333333;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.table-basket .quantity {
	margin-top: 8px;
	margin-bottom: 20px;
}
.price-main_total {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
}
.table-basket td {
	padding: 22px 0;
	position: relative;
	border-top: 1px solid #E0E0E0;
}
.remove-td {
	font-size: 24px;
	bottom: 26px;
	right: 0;
	position: absolute;
	color: #bdbdbd;
	cursor: pointer;
	opacity: 0.3;
	transition: all 0.3s;
}
.remove-td:hover {
	opacity: 1;
}
.table-basket__info {
	width: 340px;
	padding-right: 15px;
	margin-left: 25px;
	border-right: 1px solid #E0E0E0;
}
.table-basket td:last-child {
	padding-right: 40px;
}
.table-basket tr:last-child td {
	border-bottom: 1px solid #E0E0E0;
}
.input-simple input {
	height: 54px;
	font-size: 15px;
	line-height: 23px;
	width: 100%;
	padding: 0 16px;
	font-family: "Montserrat";
	border: 1px solid #BDBDBD;
	border-radius: 4px;
}
.btn-icon {
	width: 54px;
	height: 54px;
	background: #333333;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	border: none;
	border: 1px solid #333333;
	transition: all 0.3s;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-icon:hover {
	background-color: #fff;
}
.btn-icon path {
	transition: all 0.3s;
}
.btn-icon:hover path {
	fill: #333;
}
.form-promocode {
	width: 320px;
	margin-top: 10px;
	max-width: 100%;
	display: flex;
	align-items: center;
}
.form-promocode .input-simple {
	margin-right: -20px;
	flex: auto;
}
.bottom-basket__left {
	flex: none;
}
.bottom-basket {
	margin-top: 28px;
	display: flex;
	justify-content: space-between;
}
.item-input {
	position: relative;
}
.item-input textarea,
.item-input input {
	height: 65px;
	padding-top: 33px;
	padding-right: 30px;
	font-size: 16px;
	line-height: 26px;
	font-family: "Montserrat";
	width: 100%;
	border: none;
	border-bottom: 1px solid #E0E0E0;
}
.item-input textarea {
	height: 163px;
	resize: none;
}
.item-input textarea {
	padding-top: 40px;
}
.item-input__placeholder {
	font-size: 15px;
	line-height: 23px;
	top: 15px;
	left: 0;
	pointer-events: none;
	position: absolute;
	transition: all 0.3s;
}
.item-input:first-child input {
	border-top: 1px solid #E0E0E0;
}
.form-basket .btn-page,
.form-basket .btn-main {
	width: 100%;
	margin-top: 16px;
}
.agreement-basket,
.text-basket {
	font-size: 15px;
	line-height: 23px;
}
.text-basket {
	margin-bottom: 8px;
	margin-top: 20px;
}
.agreement-basket {
	color: #BDBDBD;
}
.agreement-basket a {
	color: #333;
}
.basket__left {
	padding-right: 40px;
}
.basket .form-basket {
	margin-top: 43px;
}
.item-input {
	position: relative;
}
.item-input textarea:focus ~ .item-input__placeholder,
.item-input input:focus ~ .item-input__placeholder {
	font-size: 13px;
	line-height: 19px;
	color: #BDBDBD;
}
.item-input .item-input__filled {
	background: #FAFAFA;
	color: #BDBDBD;
	padding-left: 16px;
}
.item-input .item-input__filled ~ .item-input__placeholder {
	left: 16px;
}
.item-input__text {
	font-weight: 300;
	font-size: 13px;
	line-height: 19px;
	color: #EB5757;
	margin-top: 8px;
}
.item-input .item-input__error {
	border-color: #EB5757;
} 
.icon-input {
	right: 0;
	top: 33px;
	display: none;
	position: absolute;
}
.item-input .item-input__success ~ .icon-input,
.item-input .item-input__error ~ .icon-input {
	display: block;
}
.item-input  .item-input__success {
	border-color: #27AE60;
}
.card-personal {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	color: #fff;
	height: 190px;
	padding-left: 50px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	background-color: #333;
	border-radius: 4px;
}
.card-personal:hover {
	background-color: #4B4B4B;
}
.card-personal__icon {
	width: 60px;
	height: 60px;
	margin-right: 18px;
	border-radius: 50%;
	flex: none;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-personal__icon img {
	max-width: 100%;
	max-height: 100%;
}
.row_personal {
	margin: 0 -10px;
}
.row_personal > div {
	padding: 0 10px;
	margin-bottom: 20px;
}
.personal .title-section {
	padding-bottom: 24px;
}
.links-personal a {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 18px;
	color: #333;
	display: inline-block;
	border-bottom: 1px solid transparent;
}
.links-personal a:hover {
	border-color: #333;
}
.title-middle {
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 24px;
	font-weight: 500;
}
.about .btn-main {
	margin-top: 50px;
}
.modal-wrap {
	padding: 55px 50px;
	width: 480px;
	max-width: 100%;
	margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 0px 15px 35px rgba(14, 22, 53, 0.05);
	border-radius: 4px;
}
.modal-wrap .btn-main {
	margin-top: 40px;
	width: 100%;
}
.descr-modal {
	font-size: 17px;
	padding-bottom: 32px;
	max-width: 296px;
	margin: 0 auto;
	text-align: center;
}
.modal-wrap .title-section {
	margin-bottom: 12px;
	text-align: center;
}