/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1330px) {
  .block-form {
   padding-left: 155px;
   padding-right: 155px;
 }
 .item-catalog__name {
  font-size: 16px;
}
.card-personal {
  padding-left: 20px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .search-main {
    width: 320px;
  }
  body {
    line-height: 24px;
    font-size: 14px;
  }
  .footer__title {
    font-size: 21px; 
    line-height: 28px;
  }
  .footer__nav {
    font-size: 15px;
  }
  .section-main {
   padding-top: 100px;
 }
 .block-form {
   padding-left: 100px;
   padding-right: 100px;	
 } 
 .slider-catalog .slick-slide > div > li {
   padding: 0 15px;	
   padding-bottom: 30px;	
 }
 .slider-catalog .slick-list {
   margin: 0 -15px;
 }
 .item-category {
  height: 340px;
}
.item-category_min {
  height: 200px;
}
.menu > li { 
	margin-right: 18px;	
}
.wrapper {
  padding-top: 152px;
}
.header.nav-up {
  transform: translateY(-152px);
}
.modal-catalog {
  width: 954px;
}
.table-basket__info {
  width: 265px;
  margin-left: 15px;
}
.basket__left {
  padding-right: 15px;
}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-top__right,
  .header-bottom .menu {
   display: none;	
 }
 .header-buttons {
   position: absolute;
   bottom: 13px;
   right: 68px;
 }
 .wrap-btn-header {
   padding: 0;
   margin-left: 17px;
 }
 .header-top {
   padding: 13px 0;	
   border: none;
 }
 .header .logo img {
   max-width: 160px;
 }
 .title-big {
  font-size: 38px;
  line-height: 50px;
  padding-bottom: 15px;
}
.item-billbord {
  padding-top: 60px;
  min-height: 425px;
}
.section-main {
  padding-top: 50px;
}
.row_advantages > div {
	margin-bottom: 20px;
}
.row_advantages > div:nth-child(even) .item-advantage {
	border: none;
}
.image-about {
	margin-top: 30px;
}
.text-more p {
	margin-bottom: 15px;
}
.item-form {
	margin-bottom: 25px;
}
.footer {
	margin-top: 50px;
}
.footer .list-social {
	margin-bottom: 30px;
}
.footer__content {
	padding-top: 15px;
	display: none;
}
.footer__title {
	font-size: 18px;
	margin: 0;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #fff;
}
.footer-bottom {
  font-size: 12px;
  line-height: 18px;
}
.footer-bottom p {
 max-width: 300px;
}  
.footer .descr-logo {
 margin-bottom: 15px;
}
.hidden-mob {
 display: none !important;
}
.footer .logo {
 margin-bottom: 15px;
}
.footer__title i {
 font-size: 12px;
 display: inline-block;
 transition: all 0.3s;
}
.footer__title.active i {
 transform: rotate(180deg);
}
.btn_nav {
 display: inline-block;
}
.menu-mobile {
 position: absolute;
 top: 100%;
 left: 0;
 width: 100%;
 background-color: #fff;
 height: 100vh;
 overflow: auto;
 display: none;
 padding: 20px 15px;
 padding-bottom: 100px;
}
.menu {
 display: block;
}
.menu-submenu,
.menu-dropdown {
 padding: 0;
 padding-left: 15px;
 position: relative;
 visibility: visible;
 opacity: 1;
 left: 0;
 top: 0;
 box-shadow: none;
 background-color: transparent;
 border: none;
 margin: 0;
 display: none;
 transition: none;
}
.menu > li {
 margin: 0;
 padding: 0;
}
.search-main {
 width: 100%;
 margin-bottom: 20px;
}
.menu-submenu li a, .menu-dropdown > li > a,
.menu a {
 padding: 7px 0;
 font-size: 14px;
 position: relative;
 border-bottom: 1px solid #666;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.menu-dropdown > li.menu-dropdown__haschild > a::after,
li.menu__haschild > a::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  content: "\f078";
  font-size: 10px;
  transition: all 0.3s;
}
li.menu-dropdown__haschild.active > a::after,
li.menu__haschild.active > a::after {
	transform: rotate(180deg);
}
.header .container {
	position: relative;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #fff;
}
.wrapper {
	padding-top: 62px;
}
.dropdown-header {
	right: auto;
	left: 50%;
	transform: translateX(-50%);
	visibility: visible;
	opacity: 1;
	display: none;
	transition: none;
}
.wrapper {
  padding-top: 62px;
}
.header.nav-up {
  transform: translateY(-62px);
}
.slider-categories {
  margin-bottom: 30px;
}
.sidebar-filter {
  max-width: 100%;
  display: none;
}
.btn-page_filter {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
.catalog-sorting {
  justify-content: space-between;
  margin-bottom: 25px;
}
.type-sorting {
  margin-left: 0;
}
.slider-card {
  margin-bottom: 25px;
}
.modal-catalog {
  padding-bottom: 25px;
}
.wrap-feaures {
  max-height: 205px;
}
.slider-catalog .slick-slide > div > li {
  padding: 0 5px;
  padding-bottom: 15px;
}
.slider-catalog .slick-list {
  margin: 0 -5px;
}
.card__left {
  padding-left: 15px;
  padding-top: 20px;
}
.billbord_registration .item-billbord {
  padding-top: 15px;
}
.registration-simple .item-billbord {
  padding-top: 30px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .title-big {
    font-size: 30px;
    line-height: 39px;
  }
  .btn-page {
    font-size: 16px;
    line-height: 24px;
    height: 50px;
    padding: 0 20px;
    min-width: 185px;
  }
  .footer-bottom {
   display: block;
   text-align: center;
 }
 .footer-bottom p {
   max-width: 100%;
   margin-bottom: 15px;
 }
 .footer .descr-logo br {
   display: none;
 }
 .slider-catalog .slick-list {
   margin: 0;
 }
 .arrows-main .slick-arrow {
   top: 50%;
   left: -15px;
   right: auto;
 }
 .arrows-main .slick-next {
  right: -15px;
  left: auto;
}
.buttons-card {
  opacity: 1;
}
.item-catalog .btn-page {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  margin-top: 20px;
  width: 100%;
}
.slider-catalog .slick-slide {
  padding: 0 1px;
}
.tabs a {
  font-size: 15px;
  line-height: 23px;
}
.item-category {
  height: 280px;
}
.item-advantage {
	border: none;
	padding: 0;
}
.about .title-section {
	padding-bottom: 15px;
}
.title-section {
  font-size: 29px;
  line-height: 36px;
}
.block-form {
	padding: 30px 50px;
}
.item-form input {
  height: 50px;
  font-size: 16px;
  line-height: 25px;
}
.agreement-form {
 font-size: 12px;
 line-height: 18px;
 padding-top: 15px;
}
.slider-posts {
 padding-bottom: 25px;
}
.slider-categories__item {
  padding: 6px 13px;
  font-size: 14px;
  line-height: 21px;
  margin: 0 5px;
}
.slider-categories__image {
  width: 80px;
  height: 80px;
  margin-right: 6px;
}
.slider-categories {
  margin: 0 -5px;
  margin-bottom: 20px;
} 
.breadcrumbs {
  font-size: 13px;
  line-height: 22px; 
  padding-bottom: 10px; 
}
.title-page {
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 15px;
}
.item-catalog .price-main,
.item-catalog .price-old,
.item-catalog:hover .price-main,
.item-catalog:hover .price-old {
  opacity: 1;
}
.modal-catalog {
  padding: 15px;
}
.slider-card__item {
  height: 380px;
}
.buttons-order .btn-main {
  height: 50px;
  font-size: 16px;
}
.wrap-feaures {
  margin-right: 0;
}
.buttons-order {
  margin-bottom: 25px;
}
.link-page {
  font-size: 16px;
  line-height: 23px;
}
.slider-for__item {
  height: 430px;
}
.slider-nav__item {
  height: 130px;
}
.tabs-card li {
  margin-right: 19px;
}
.table-basket tbody,
.table-basket tr,
.table-basket td {
  display: block;
}
.table-basket tr:last-child td,
.table-basket td  {
  border: none;
  padding: 0;
}
.table-basket td  {
  position: static;
}
.table-basket tr {
  border-top: 1px solid #E0E0E0;
}
.table-basket tr:last-child {
  border-bottom: 1px solid #E0E0E0;
}
.table-basket__info {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}
.table-basket td:last-child {
  padding-right: 0;
}
.table-basket tr {
  padding: 20px 0;
  position: relative;
}
.remove-td {
  top: 10px;
  bottom: auto;
}
.image-basket {
  margin-bottom: 15px;
}
.prices-basket {
  margin-bottom: 15px;
}
.bottom-basket {
  display: block;
}
.bottom-basket__right {
  margin-top: 15px;
}
.basket .form-basket {
  margin-top: 20px;
}
.card-personal {
  font-size: 18px;
  line-height: 31px;
  height: 150px;
}
.slider-card .slick-prev {
  left: -13px;
}
.slider-card .slick-next {
  right: -13px;
}
.billbord_registration .descr-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.registration-simple .item-billbord {
  padding-top: 45px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .title-big {
    font-size: 25px;
    line-height: 34px;
  }
  .descr-title {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 25px;
  }
  .buttons-main .btn-page {
    margin: 0 7px;
    min-width: 150px;
  }
  .item-category__name {
    font-size: 28px;
    line-height: 37px;
  }
  .item-category {
    height: 225px;
  }
  .tabs {
   white-space: nowrap;
   overflow: auto;
   margin-right: -15px;
 }
 .tabs::-webkit-scrollbar {
  -webkit-appearance: none;
}
.tabs::-webkit-scrollbar:vertical {
  width: 0px;
}
.tabs::-webkit-scrollbar:horizontal {
  height: 0px;
}
.tabs::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}
.tabs::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.buttons-card {
	top: 20px;
	bottom: auto;
}
.block-form {
	padding: 0;
	box-shadow: none;
}
.footer__title {
  font-size: 16px;
}
.slider-categories__image {
  width: 90px;
  height: 90px;
  margin-right: 16px;
}
.title-page {
  font-size: 31px;
  line-height: 36px;
}
.item-catalog__status {
  font-size: 13px;
  line-height: 21px;
  right: 15px;
  left: auto;
}
.price-main {
  font-size: 26px;
  line-height: 31px;
}
.title-sidebar {
  font-size: 18px;
  line-height: 26px;  
  margin-top: 19px;
  margin-bottom: 10px;
}
.sidebar-filter {
  font-size: 14px;
}
.slider-card__item {
  height: 340px;
}
.modal-catalog .title-section {
  font-size: 20px;
  line-height: 26px;
}
.prices-card .price-old {
  font-size: 18px;
  line-height: 23px;
  margin-right: 15px;
}
.prices-card .price-main {
  font-size: 26px;
  line-height: 29px;
}
.articul {
  font-size: 14px;
}
.buttons-order {
  display: block;
}
.buttons-order .btn-page {
  width: 100%;
}
.buttons-order .btn-main {
  margin: 0;
  margin-top: 15px;
  width: 100%;
}
.order-types__item {
  font-size: 14px;
}
.slider-for__item {
  height: 335px;
}
.slider-for .slick-prev {
  left: -11px;
}
.slider-for .slick-next {
  right: -11px;
}
.slider-nav__item {
  height: 110px;
  margin: 0 5px;
}
.slider-nav {
  margin: 0 -5px;
  margin-top: 10px;
}
.card .title-section {
  font-size: 25px;
  line-height: 31px;
}
.card .title-section br {
  display: none;
}
.tabs-card a {
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 7px;
}
.tabs-card li {
  margin-right: 14px;
}
.tabs-card a {
  display: flex;
  min-height: 100%;
}
.slider-products {
  margin-top: 25px;
}
.item-catalog {
  display: flex;
  flex-direction: column;
}
.item-catalog__name {
  margin-bottom: auto;
  padding-bottom: 8px;
}
.link-simple {
  font-size: 14px;
}
.item-input textarea, .item-input input {
  font-size: 14px;
  line-height: 23px;
}
.item-input__placeholder {
  font-size: 13px;
  line-height: 21px;
}
.agreement-basket, .text-basket {
  font-size: 14px;
  line-height: 23px;
}
.row_personal > div {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.links-personal a {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 12px;
}
.title-middle {
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 14px;
}
.personal {
  padding-top: 15px;
}
.modal-wrap {
  padding: 55px 15px;
}
.modal-wrap .title-section {
  font-size: 24px;
  line-height: 32px;
}
.descr-modal {
  font-size: 15px;
  padding-bottom: 21px;
  max-width: 254px;
}
.modal-wrap .btn-main {
  margin-top: 30px;
}
.about .btn-main {
  margin-top: 30px;
}
.slider-categories__item {
  font-size: 15px;
  line-height: 23px;
}
.billbord_registration .descr-title {
  font-size: 14px;
  line-height: 21px;
}
.registration-simple .btn-main {
  margin-top: 25px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .menu-mobile,
  .show-mob {
   display: none !important;
 }
 .sidebar-filter,
 .footer__content {
   display: block !important;
 }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1330px) {
	.container {
		max-width: 1310px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1310px;
	}
}